@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: white;
    background-color: black;
}
.list-table {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.list-items * {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.list-items * > p{
    text-align: center;
}
.list-image-container {
    width: 100%;
    position: relative;
    cursor: pointer;
}
.list-image{
    display: block;
    width: 100%;
}
.list-image-overlay {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    transition: .5s ease;
    opacity:0;
    font-size: 20px;
    text-align: center;
}
.list-image-container:hover .list-image-overlay {
    opacity: 1;
}
.wrapper {
    margin: auto;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    padding: 10px;
    min-height: 100vh;
    background-color: rgba(50, 50, 50, 0.5);
}
.wrapper * {
    margin: 10px 0px 10px 0px;
}
.user-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.user-welcome {
    display: flex;
    flex-direction: row;
}
.login-button {
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 10px 100px 10px 100px;
    color: green;
    font-weight: bold;
    border: green 5px solid;
    margin: 10px 10px 10px 10px;
    border-radius: 5px;
}
.player {
    position: fixed !important;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}
a,
a:visited {
    text-decoration: none;
    color: white;
}
